<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://218.107.129.230/siglelogin/download/AppCenter.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>http://218.107.129.230/siglelogin/download/images/AppCenter-icon-120.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<false/>
					<key>url</key>
					<string>http://218.107.129.230/siglelogin/download/images/AppCenter-icon-120.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.nationsky.mobility-center.chinalife</string>
				<key>kind</key>
				<string>software</string>
				<key>subtitle</key>
				<string></string>
				<key>title</key>
				<string>应用服务中心</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
